<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-kafka-log" packages="com.reloadly">
    <Appenders>
        <Kafka name="Kafka" topic="logstash">
            <PatternLayout>
                <alwaysWriteExceptions>false</alwaysWriteExceptions>
                <pattern>
                    {"timestamp":"%d{yyyy-MM-ddHH:mm:ss.SSSZ}","level":"%level","service":"$${spring:spring.application.name}","package":"%logger{36}","class":"%c","method":"%M","traceId":"%X{traceId}","spanId":"%X{spanId}","parentSpanId":"%X{parentId}","sampled":"%X{sampled}","pid":"%pid","thread":"%thread","logger":"%logger{40}","message":"%replace{%replace{%msg{separator()}}{(\")}{\\\"}}{\t}{}","exception":"%replace{%replace{%ex{full}{separator()}}{(\")}{\\\"}}{\t}{}"}
                </pattern>
            </PatternLayout>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{ISO8601}}{cyan} %highlight{%-5level} %pid %style{[${spring:spring.application.name},%t,%X{traceId},%X{spanId},%X{parentId},%X{sampled}]}{bright,blue} %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
            <AppenderRef ref="stdout"/>
        </Root>
        <Logger name="org.apache.kafka" level="WARN" /><!-- avoid recursive logging -->
    </Loggers>
</Configuration>
